.Footer{
  position: relative;
}

.Footer>hr{
  border: 1px solid var(--lightgray);
}

.footer{
  height: 20rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.social-links{
  display: flex;
  gap: 4rem;
}

.social-links>img{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.f-logo>img{
  width: 10rem;
}